<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chevrez</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
  {{!-- <link rel="stylesheet" href="../public/css/registro.css"> --}}
  <link rel="stylesheet" href="../public/css/perfil.css">
</head>
<body>
<div class="main">
  <div class="nav">
    <div class="bar"></div>
    <div class="info">
      <img src="https://ichef.bbci.co.uk/ace/standard/976/cpsprodpb/16620/production/_91408619_55df76d5-2245-41c1-8031-07a4da3f313f.jpg">
      <span>
        {{#if userName }}
          Hola otra vez,<br/>
          <span class="name-perfil"><a href="/perfil/{{userName}}">{{userName}}</a></span>
          {{else}}
          Hola extrañ@
        {{/if}}
      </span>
      <div class="info2">
        {{#if userName}}
          <span>Bienvenido a Chevrez</span>
        {{else}}
          <span>No tienes una cuenta</span>
          <span>Registrate pues hijit@...</span>
        {{/if}}
        </div>
        {{#if userName}}
        {{else}}
      <div class="register-btn"> 
          <a href="/index/register">Registrate</a>
          <a href="/index/login">Login</a>
      </div>
      {{/if}}
    </div>
  </div>
  <div class="centro">
    <div class="title">
      <a href="/index"><img src="../public/image/name.png"></a>
      <div class="nav-centro">
        <a href="/index">Home</a>
        <a href="/index/team">Team info</a>
        <a href="">Cool Stuff</a>
      </div>
    </div>
    <div class="nav-bar">
      <span>Perfil</span>
      {{#if userName}}
        <b><a href="/perfil/{{userName}}">My Perfil</a></b>
      {{else}}
        <div class="nav-mobile">
          <a href="/index/register">Registrate</a> /
          <a href="/index/login">Login</a>
        </div>
      {{/if}}
    </div>
    <div>
    </div>
    <div class="box-box">
      {{#if loggedInUser}}
        <div class="private-perfil"><span>Perfil de <b style="color: gold;">{{user.name}}</b> (este eres tú)</span></div>
        {{ else }}
          <div class="private-perfil"><span>Perfil de <b style="color: gold;">{{user.name}}</b></span></div>
      {{/if}}
      <div class="box-perfil">
        <div class="box">
          <div class="box-info">
            <div class="image-perfil2">
              <span>Foto:</span>
              <hr/>
              <img src="http://gravatar.com/avatar/{{user.gravatar}}?d=monsterid&s=300">
              {{#if loggedInUser}}
                <br/>
                <span style="font-size: 13px;">Si quieres cambiar tu foto de perfil, registrate <a style="color: gold; font-weight: bold;" href="https://wordpress.com/log-in/link?client_id=1854&redirect_to=https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D4e6c3067585f9a03933c58a9b6d02d7bda3ae767582114cd51291c4b2872024e%26redirect_uri%3Dhttps%253A%252F%252Fgravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26from-calypso%3D1">Aquí</a></span>
                {{/if}}
            </div>
            <div class="info-box">
              <span>Información:</span>
              <hr/>
              <div class="aea">
                <span>Nickname:</span><b>{{user.name}}</b>
              </div>
              <div class="aea">
                <span>Estado:</span><b>{{user.estado}}</b>
              </div>
              <div class="aea">
                <span>Creado:</span><b>{{user.time}}</b>
              </div>
            </div>
            {{#if loggedInUser}}
              <div class="private">
                <div class="info-box">
                  <span>Privado: (solo tu lo puedes ver)</span>
                  <hr/>
                  <div class="aea">
                    <span>Gmail:</span><b id="gmail">{{user.email}}</b>
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
          <div class="image-perfil">
            <span>Foto:</span>
            <hr/>
            <img src="http://gravatar.com/avatar/{{user.gravatar}}?d=monsterid&s=300">
            {{#if loggedInUser}}
              <br/>
              <span style="font-size: 13px;">Si quieres cambiar tu foto de perfil, registrate <a style="color: gold; font-weight: bold;" href="https://wordpress.com/log-in/link?client_id=1854&redirect_to=https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D4e6c3067585f9a03933c58a9b6d02d7bda3ae767582114cd51291c4b2872024e%26redirect_uri%3Dhttps%253A%252F%252Fgravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26from-calypso%3D1">Aquí</a></span>
              {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{#if loggedInUser}}
    <form class="form-btn" action="/logout" method="POST">
      <button class="close-session" type="submit">Cerrar sesión</button>
    </form>
    {{/if}}
    <span class="foundation">© Chevrez 2024</span>
  </div>

  <!--BOX-LEFT-->
  <div class="box-left">
    <div class="left-box">
      <div class="anun">
        <span>Anuncio <i class="fa-solid fa-bell" style="color: gold;"></i></span>
        <hr/>
        <span class="parr2">Si quiere cambiar la foto de perfil hazlo desde <a style="color: gold; font-weight: bold;" href="https://wordpress.com/log-in/link?client_id=1854&redirect_to=https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D4e6c3067585f9a03933c58a9b6d02d7bda3ae767582114cd51291c4b2872024e%26redirect_uri%3Dhttps%253A%252F%252Fgravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26from-calypso%3D1">Aquí</a> <br/><br/><b>(SÓLO PARA LOS QUE TIENEN CUENTA)</b></span>
      </div>
    </div>
  </div>
</div>
</body>
</html>

